
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}
nav{
     font-family: 'Bad Script', cursive;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    padding: 0 8px;
    width:44px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: rgb(179, 158, 158);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('imtiyaz-ali-LxBMsvUPAgo-unsplash\ \(1\).jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
}
.icons{
    margin-top: 14px;
    
    
}
.icons i{
    cursor: pointer;
}
.icons .logo{
    padding: 20px;
}
#myprogressbar{
    width: 80vw;
    text-align: center;
    cursor: pointer;

    
}
.songitemcontainer{
    margin-top: 74px;
}
.songitems{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songitems img{
width: 43px;
margin: 0 23px;
border-radius: 34px;

}
.timestamp{
    margin: 0 23px;
    /* cursor: pointer; */
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family:cursive ;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease;
}
@media(max-width:477px){
    .container{
        font-size: 12px;
       
    }
    .timestamp{
        margin: 0 20px;
    }
    .bottom{
        font-size: 12px;
        font-weight: 600;
        
        /* align-items: flex-start; */
        
    }
    

}